* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  font-family: "Oswald", sans-serif;
}

header {
  color: red;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.info {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  p {
    padding: 15px;
    text-align: center;
  }
}
.sites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  position: relative;
  max-width: 350px;
  // width: 90%;
  max-height: 200px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 20px 20px;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid #2980b9;
  }
  span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 18px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
  }
}

.ribbon-top-right {
  top: -10px;
  right: -10px;
  &::before,
  &::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    right: 0;
  }
  span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }
}

.js {
  span {
    background-color: #eed818;
  }
  &::before,
  &::after {
    border: 5px solid #d0b532;
  }
}
.html {
  span {
    background-color: #ea6228;
  }
  &::before,
  &::after {
    border: 5px solid #de4b25;
  }
}

.react {
  span {
    background-color: #61dafb;
  }
  &::before,
  &::after {
    border: 5px solid #08b6d0;
  }
}
