* {
  box-sizing: border-box;
}

body {
  background-color: rgba(42, 49, 64, 0.933);
  font-family: "Lato", sans-serif;
}
body header {
  font-family: "Oswald", sans-serif;
}

header {
  color: red;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contact-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.contact-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  padding: 10px;
  color: white;
  border-radius: 3px;
}
.contact-bar a:hover {
  transform: scale(1.2);
}
.contact-bar .github:hover {
  background-color: #28a945;
}
.contact-bar .linkedin:hover {
  background-color: #007bb5;
}
.contact-bar .email:hover {
  background-color: #d54b3d;
}

.info {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  width: 100%;
}
.info .highlight {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info .highlight p {
  padding: 15px;
  text-align: center;
  min-width: 300px;
  max-width: 600px;
}

.sites {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.fa-info-circle,
.fa-github {
  color: white;
  font-size: 2em;
  position: absolute;
  top: -23px;
  z-index: -1;
}
.fa-info-circle:hover,
.fa-github:hover {
  top: -34px;
  transform: scale(1.2);
  cursor: pointer;
  transition: 0.3s;
}

.fa-github {
  left: 35px;
}

.container {
  position: relative;
  width: 350px;
  height: 200px;
  background: #fff;
  box-shadow: -9px 9px 0px 0px rgba(0, 0, 0, 0.2);
  margin: 20px 20px;
  z-index: 1;
}
.container .site-link {
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.container .site-link:hover {
  cursor: pointer;
}

.hide-info {
  position: absolute;
  top: 0;
  background-color: rgba(42, 49, 64, 0.933);
  color: white;
  z-index: 1;
  transition: 1s;
  opacity: 0;
  height: 1%;
  width: 1%;
}
.hide-info p {
  margin: auto;
  width: 60%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0s;
  transition-delay: 0s;
}

.show-info {
  height: 100%;
  width: 100%;
  opacity: 1;
  border-radius: unset;
}
.show-info p {
  width: 60%;
  height: 100%;
  transition: 0.4s;
  transition-delay: 0.75s;
  opacity: 1;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}
.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before, .ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.js span {
  background-color: #eed818;
}
.js::before, .js::after {
  border: 5px solid #d0b532;
}

.html span {
  background-color: #ea6228;
}
.html::before, .html::after {
  border: 5px solid #de4b25;
}

.react span {
  background-color: #61dafb;
}
.react::before, .react::after {
  border: 5px solid #08b6d0;
}

#hedira {
  background-image: url("./img/hedira.PNG");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

#cv-image {
  background-image: url("./img/cv.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#to-do {
  background-image: url("./img/todo.PNG");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#faces-image {
  background-image: url("./img/face.PNG");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

section {
  padding: 0px 40px;
}

@media only screen and (max-width: 600px) {
  .contact-bar {
    top: 18px;
    left: 0;
    display: flex;
    justify-content: flex-start;
  }
  .contact-bar a {
    padding: 0px 2px;
    margin: 2px;
  }
  .contact-bar .github {
    background-color: #28a945;
  }
  .contact-bar .linkedin {
    background-color: #007bb5;
  }
  .contact-bar .email {
    background-color: #d54b3d;
  }

  .container {
    min-width: 350px;
    min-height: 200px;
  }
}

/*# sourceMappingURL=main.css.map */
